<div class="hero bg-base-200 min-h-screen">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img
        src="https://res.cloudinary.com/dz3ms2ssv/image/upload/v1741378362/portfolio_mqgjom.jpg"
        class="max-w-sm rounded-full shadow-2xl" />
      <div>
        <h1 class="text-5xl font-bold"> {{ language_cache.hero_banner.title }} </h1>
        <p class="py-6">
          {{ language_cache.hero_banner.description }}
        </p>
        <div class="grid grid-cols-1 content-center gap-4" >
          <div class="row-span-1">
            <div class="stats shadow">
              {% for skill in language_cache.hero_banner.achievements_top %}
              <div class="stat">
                <div class="stat-figure text-secondary">
                  {{ language_cache.hero_banner.achievements_top[skill].icon|safe }}
                </div>
                <div class="stat-title">{{ language_cache.hero_banner.achievements_top[skill].level }}</div>
                <div class="stat-value">{{ language_cache.hero_banner.achievements_top[skill].skill }}</div>
                <div class="stat-desc">{{ language_cache.hero_banner.achievements_top[skill].additional_info }}</div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="row-span-1">
            <div class="stats shadow">
              {% for skill in language_cache.hero_banner.achievements_bottom %}
              <div class="stat">
                <div class="stat-figure text-secondary">
                  {{ language_cache.hero_banner.achievements_bottom[skill].icon|safe }}
                </div>
                <div class="stat-title">{{ language_cache.hero_banner.achievements_bottom[skill].level }}</div>
                <div class="stat-value">{{ language_cache.hero_banner.achievements_bottom[skill].skill }}</div>
                <div class="stat-desc">{{ language_cache.hero_banner.achievements_bottom[skill].additional_info }}</div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="row-span-1">
            <button hx-get="/resume" class="btn btn-primary"> {{language_cache.hero_banner.resume}} </button>
          </div>
        </div>
      </div>
    </div>
  </div>