<div class="hero bg-base-200 min-h-screen">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img
        src="{{ url_for('static', filename='portfolio.jpg') }}"
        class="max-w-sm rounded-full shadow-2xl" />
      <div>
        <h1 class="text-5xl font-bold"> {{ title }} </h1>
        <p class="py-6">
          {{ description }}
        </p>
        <div class="grid grid-cols-1 content-center gap-4" >
          <div class="row-span-1">
            <div class="stats shadow">
              {% for skill in achievements_top %}
              <div class="stat">
                <div class="stat-figure text-secondary">
                  {{ skill.icon }}
                </div>
                <div class="stat-title">{{ skill.level }}</div>
                <div class="stat-value">{{ skill.skill }}</div>
                <div class="stat-desc">{{ skill.additional_info }}</div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="row-span-1">
            <button hx-get="/resume" class="btn btn-primary"> {{resume_btn}} </button>
          </div>
        </div>
      </div>
    </div>
  </div>