<div class="flex justify-center gap-4">
  <div class="grid grid-flow-col self-center grid-rows-2 gap-4">
    <div class="justify-self-center">
    <h2 class="text-4xl font-semibold">Portfolio</h2>
    </div>
  </div>
</div>
<div id="tech-content" class="flex justify-center">
  <div style="margin-left: 5%; margin-right: 5%" class="grid grid-flow-row-dense grid-cols-1 md:grid-cols-2  gap-10">
    {% if portfolio is none %}
      <div class="card lg:card-side bg-base-100 shadow-sm">
  <figure>
    <img
      src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.webp"
      alt="Album" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">Dictionary App</h2>
    <p class="text-wrap">Aplikacja służąca do przypisywania definicji sukcesu do kampanii, zgodnie ze zdefiniowaną wczesniej strukturą.</p>

    <div class="card-actions justify-end">
      <button class="btn btn-primary">Listen</button>
    </div>
  </div>
</div>
    <div class="card lg:card-side bg-base-100 shadow-sm">
  <figure>
    <img
      src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.webp"
      alt="Album" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">SAS Rule Engine</h2>
    <p>Zestaw makr w SAS, składający się na framework, do budowy silnika regułowego w SAS.</p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">Listen</button>
    </div>
  </div>
</div>
    <div class="card lg:card-side bg-base-100 shadow-sm">
  <figure>
    <img
      src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.webp"
      alt="Album" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">SAS Automate Notification</h2>
    <p>Zestaw procedur w SAS, który umożliwia wysyłanie zestawu raportów przy pomocy e-mail.</p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">Listen</button>
    </div>
  </div>
</div>
    <div class="card lg:card-side bg-base-100 shadow-sm">
  <figure>
    <img
      src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.webp"
      alt="Album" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">Praca Inżynierska</h2>
    <p>Modele regresyjne zbudowane na rzecz pracy inżynierskiej.</p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">Listen</button>
    </div>
  </div>
</div>
    {% else %}
      {{portfolio | safe}}
    {% endif %}
  </div>
</div>
<br>
