<div style="width:100%;height:100%; display:flex; flex-direction:column; flex-grow:1">

	  <div class="mx-20 md: mx-50">
	    <div class="chat chat-start">
	      <div class="chat-image avatar">
	        <div class="w-10 rounded-full">
	          <img
	            alt="Obi-Wan"
	            src="https://res.cloudinary.com/dz3ms2ssv/image/upload/v1741378382/Obi-Wan-icon_aofmww.png" />
	        </div>
	      </div>
	      <div class="chat-header">
	        Obi-Wan Kenobi
	        <time class="text-xs opacity-50">{{time.request}}</time>
	      </div>
	      <div class="chat-bubble">Hello, I am interested in working with you.</div>
	      <div class="chat-footer opacity-50">Delivered</div>
	    </div>
	    <div class="chat chat-end">
	      <div class="chat-image avatar">
	        <div class="w-10 rounded-full">
	          <img
	            alt="portrait"
	            src="https://res.cloudinary.com/dz3ms2ssv/image/upload/v1741378362/portfolio_mqgjom.jpg" />
	        </div>
	      </div>
	      <div class="chat-header">
	        Piotr Baran
	        <time class="text-xs opacity-50">{{time.response}}</time>
	      </div>
	      <div class="chat-bubble">Hello! Can you tell me more?</div>
	      <div class="chat-footer opacity-50">Seen at {{time.response}}</div>
	    </div>
	    <div class="chat chat-start">
	      <div class="chat-image avatar">
	        <div class="w-10 rounded-full">
	          <img
	            alt="Obi-Wan"
	            src="https://res.cloudinary.com/dz3ms2ssv/image/upload/v1741378382/Obi-Wan-icon_aofmww.png" />
	        </div>
	      </div>
	      <div class="chat-header">
	        Obi-Wan Kenobi
	        <time class="text-xs opacity-50">{{time.write}}</time>
	      </div>
	      <div class="chat-bubble"><span class="loading loading-dots loading-xl"></span></div>
	    </div>
	  </div>

	<div class="grid grid-cols-1 m-12 place-center gap-3 lg:grid-cols-2 gap-10 mx-45">
		<div class="card card-lg bg-base-100 w-full max-w-screen-xl shadow-sm">
		  <div class="card-body">
			<h2 class="card-title">{{language_cache.form.label}}</h2>
			<form hx-post="/send-email?language={{language}}" hx-target="#response">
			  <fieldset class="fieldset w-full bg-base-200 border border-base-300 p-4 rounded-box">

				<label class="fieldset-label">{{language_cache.form.first_name.label}}</label>
				<input type="text" required class="input validator w-full" name="first-name" placeholder="{{language_cache.form.first_name.placeholder}}" />

				<label class="fieldset-label">{{language_cache.form.last_name.label}}</label>
				<input type="text" required class="input validator w-full" name="last-name" placeholder="{{language_cache.form.last_name.placeholder}}" />

				<label class="fieldset-label">{{language_cache.form.email.label}}</label>
				<input type="email" required class="input validator w-full" name="email" placeholder="{{language_cache.form.email.placeholder}}" />

				<label class="fieldset-label">{{language_cache.form.message.label}}</label>
				<textarea required class="textarea validator w-full" name="message" placeholder="{{language_cache.form.message.placeholder}}"></textarea>

				<input class="btn btn-soft btn-primary btn-xl w-full" type="submit" value="{{language_cache.form.button}}">
			  </fieldset>
			</form>
			<div id="response"></div>
		  </div>
		</div>
		<div class="self-center">
			<div class="card card-lg bg-primary text-primary-content w-full max-w-screen-xl">
			  <div class="card-body">
				<h2 class="card-title">{{language_cache.descriptions.cooperation.title}}</h2>
				<ul>
				  <li><p class="text-wrap">{{language_cache.descriptions.cooperation.description}}</p></li>
				  <li style="margin-top:5%" class="justify-self-end"><a role="button" href="mailto:kontakt@piotrbaran.me" class="btn btn-secondary lg:btn-lg">kontakt@piotrbaran.me</a></li>
				</ul>
			  </div>
			</div>
			<div class="card card-lg bg-primary text-primary-content mt-10 w-full max-w-screen-xl">
			  <div class="card-body">
				<h2 class="card-title">{{language_cache.descriptions.resume.title}}</h2>
				<ul>
				  <li><p>{{language_cache.descriptions.resume.description}}</p></li>
				  <li style="margin-top:5%" class="justify-self-end"><a role="button" href="{{ url_for('static', filename=language_cache.descriptions.resume.button.file) }}" download="{{language_cache.descriptions.resume.button.file}}" class="btn btn-secondary lg:btn-lg">{{language_cache.descriptions.resume.button.name}}</a></li>
				</ul>
			  </div>
			</div>
		</div>
	</div>
</div>

